.main {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    width: 70%;
}
.image img {
    width: 100%;
    height: auto;
    max-height: 800px;
    border: 0.2px solid black;
    border-radius: 5px;
    object-fit: contain;
}

.description {
    padding-left: 3%;
    max-width: 80%;
}

.description h2 {
    /* margin-left: 25px; */
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 25px;
}

.description ul {
    padding-top: 0;
    margin-top: 5px;
}

.description li {
    font-size: 20px;
}

@media (max-width: 768px) {
    .main {
     flex-direction: column;
    }
    .description {
        max-width: 100%;
    }
   }