.HeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgb(72, 148, 123);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.HeaderDiv a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 1.8rem;
}

.HeaderDiv a:hover {
    color: #0070f3;
}

.links {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .HeaderDiv {
        flex-direction: row;
        text-align: center;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }

    .links {
        flex-direction: row;
        gap: 0.75rem;
        margin-top: 0.5rem;
    }

    .HeaderDiv a {
        font-size: 1rem;
    }
}
