.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    width: 100%;
}

.bodySection {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.TableOfContents {
    width: 20%;
    height: 100vh;
    /* padding-top: 125px; */
    position: sticky;
    top: 0; /* This makes it stick at the top */
    background-color: white; /* Optional: to prevent text overlap */
    z-index: 100; /* Ensures it stays above other elements */
    overflow-y: auto; /* Allows scrolling if TOC content is too long */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}

.TableOfContents a {
    color: black;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-top: 5px;
}

.documentation {
    width: 80%;
    padding-left: 3%;
    padding-right: 10%;
    margin-bottom: 20px;
}

/* .documentation h5 {
    font-size: 20px;
} */

.documentation img {
    max-width: 75%;
    height: auto;
}

/* need to come back and finish with this */

.singleImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleImageContainer img {
    max-width: 60%;
    height: auto;
    border-radius: 15px;
}

.shorterDocumentation {
    width: 60%;
    text-align: left;
    padding-bottom: 20px;
}

.zipCodeClockiFrame {
    width: 100%;
}

.iframeContainer {
   background-color: green;
   width: 60%;
    height: 50vh;
    
    border: none;
    border-radius: 15px;
}

.iframeContainer iframe {
    width: 100%;
    border-radius: 15px;
    border: none;
    /* height: auto; */
    transform: scale(0.5); /* Zoom out to 80% */
    transform-origin: 0 0; /* Set origin to top-left */
    width: 200%; /* Adjust width to compensate for scaling */
    height: 200%; 
    
}
