.MainDiv {
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.Left {
    width: 50%;
    height: 100%;
    background-color: aqua;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
}

.Right {
    width: 50%;
    background-color: rgb(72, 255, 0);
    padding: 5%;
    height: 100%;
}

.zipCodeClockiFrame {
    width: 100%;
}

.iframeContainer {
   
    height: 50vh;
    
    border: none;
}

.iframeContainer iframe {
    width: 100%;
    /* height: auto; */
    transform: scale(0.5); /* Zoom out to 80% */
    transform-origin: 0 0; /* Set origin to top-left */
    width: 200%; /* Adjust width to compensate for scaling */
    height: 200%; 
    
}




