.main {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 20px;
}



h1 {
    margin-bottom: 0;
}

.documentation h3, .shorterDocumentation h2 {
    font-size: 30px !important;
    margin-bottom: 7px;
    padding: 0;
    justify-content: flex-start;
    width: 100%;
}

.documentation h4, .shorterDocumentation h3 {
    font-size: 25px !important;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    width: 100%;
}



a {
    color: rgb(105, 215, 227);
}

.title {
    text-align: center;
    width: 100%;
}

.bodySection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}

.TableOfContents {
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Prevent centering issues */
    align-self: flex-start; /* Ensures it stays sticky within flex container */
}

.TableOfContents a {
    color: white;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-top: 5px;
}

.documentation {
    width: 80%;
    padding-left: 3%;
    padding-right: 15%;
    margin-bottom: 20px;
}

.documentation a {
    font-size: 26px;
}

/* .documentation h5 {
    font-size: 20px;
} */

.documentation img {
    max-width: 75%;
    height: auto;
}

/* need to come back and finish with this */

.singleImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleImageContainer img {
    max-width: 60%;
    height: auto;
    border-radius: 15px;
}

.shorterDocumentation {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden !important;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.links a {
    font-size: 22px;
}

.zipCodeClockiFrame {
    width: 100%;
}

.shorterDocumentation p {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0px;
}

.iframeContainer {
   /* background-color: green; */
   width: 100%;
    height: 50vh;
    
    border: none;
    border-radius: 15px;
    align-content: center;
    /* margin-left: 20%; */
    /* width: 100%; */
}



.iframeContainer iframe {
    width: 100%;
    border-radius: 15px;
    border: none;
    /* height: auto; */
    transform: scale(0.5); /* Zoom out to 80% */
    transform-origin: 0 0; /* Set origin to top-left */
    width: 200%; /* Adjust width to compensate for scaling */
    height: 200%; 
    
}

.imageWithCaption p{
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.youtubeiFrame {
    /* background-color: green; */
    width: 100%;
     height: 60vh;
     
     border: none;
     border-radius: 15px;
     margin-bottom: 60px !important;
     padding-bottom: 20px;
}

.shorterDocumentation ul {
    align-content: flex-start;
    /* background-color: green; */
    width: 100%;
}

.youtubeiFrame iframe {
    width: 100%;
    border-radius: 15px;
    border: none;
    
    
    /* height: auto; */
    
}

.shorterDocumentation img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

@media (max-width: 768px) {
   .shorterDocumentation {
    padding-left: 15px;
    padding-right: 15px;
   }
   .bodySection {
    flex-direction: column;
   }
   .TableOfContents {
    width: 100%;
    position: relative;
    height: auto;
   }
   .documentation {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
   }

   .documentation img {
    max-width: 100%;
    height: auto;
   }
    .youtubeiFrame {
        margin-bottom: 10px !important;
        margin-top: 20px;
    }
}
  